*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #cccaca;
}

.container{
  width: 1200px;
  height: 600px;
  background: rgb(223, 221, 221);
  border: 2px solid rgb(221, 219, 219);
  position: relative;
  padding: 20px;
}

.logo{
  position: fixied;
  top: 25px;
  right: 1080px;
  font-size: 28px;
  font-weight: bold;
}

.study-text{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 22px;
  text-align: center;
}

.bottom-box{
  position: absolute;
  bottom: 30px;
  left: 20px;
  right: 20px;
  display: flex;
  border: 2px solid rgb(8, 8, 8);
  border-radius: 40px;
  overflow: hidden;
  height: 55px;
}

.bottom-box input{
  flex: 1;
  border: none;
  outline: none;
  padding: 15px;
  font-size: 16px;
}

.bottom-box button{
  width: 80px;
  border: none;
  background: rgb(39, 39, 39);
  color: rgb(201, 199, 199);
  font-size: 16px;
  cursor: pointer;
}

.bottom-box button:hover{
  background: #acabab;
}